In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from IPython.display import Image


import matplotlib.pyplot as plt
%matplotlib inline

import plotly_express as px
import bar_chart_race as bcr

# Lendo os arquivos

In [3]:
df_covidbr2021_parte1 = pd.read_csv('HIST_PAINEL_COVIDBR_2021_Parte1_08dez2021.csv', sep=';')

In [4]:
df_covidbr2021_parte2 = pd.read_csv('HIST_PAINEL_COVIDBR_2021_Parte2_08dez2021.csv',sep=';')

# Analise previa

In [5]:
df_covidbr2021_parte1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017039 entries, 0 to 1017038
Data columns (total 17 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   regiao                  1017039 non-null  object
 1   estado                  1016858 non-null  object
 2   municipio               1008170 non-null  object
 3   coduf                   1017039 non-null  int64
 4   codmun                  1011971 non-null  float64
 5   codRegiaoSaude          1008170 non-null  float64
 6   nomeRegiaoSaude         1008170 non-null  object
 7   data                    1017039 non-null  object
 8   semanaEpi               1017039 non-null  int64
 9   populacaoTCU2019        1013238 non-null  float64
 10  casosAcumulado          1017039 non-null  float64
 11  casosNovos              1017039 non-null  int64
 12  obitosAcumulado         1017039 non-null  int64
 13  obitosNovos             1017039 non-null  int64
 14  Recuperadosnovos        181 non-null      float64
 15  emAcompanhamentoNovos   181 non-null      float64
 16  interior/metropolitana  1008170 non-null  float64
dtypes: float64(7), int64(5), object(5)
memory usage: 131.9+ MB

### Dados fantantes

In [6]:
df_parte1 = df_covidbr2021_parte1.isna().sum()
df_parte1

regiao                          0
estado                        181
municipio                    8869
coduf                           0
codmun                       5068
codRegiaoSaude               8869
nomeRegiaoSaude              8869
data                            0
semanaEpi                       0
populacaoTCU2019             3801
casosAcumulado                  0
casosNovos                      0
obitosAcumulado                 0
obitosNovos                     0
Recuperadosnovos          1016858
emAcompanhamentoNovos     1016858
interior/metropolitana       8869
dtype: int64

In [7]:
df_parte2 = df_covidbr2021_parte2.isna().sum()
df_parte2

regiao                         0
estado                       161
municipio                   7889
coduf                          0
codmun                      4508
codRegiaoSaude              7889
nomeRegiaoSaude             7889
data                           0
semanaEpi                      0
populacaoTCU2019            3381
casosAcumulado                 0
casosNovos                     0
obitosAcumulado                0
obitosNovos                    0
Recuperadosnovos          904498
emAcompanhamentoNovos     904498
interior/metropolitana      7889
dtype: int64

## Concatenando os datasets

In [8]:
df_covidbr = pd.concat([df_covidbr2021_parte1,df_covidbr2021_parte2])

In [9]:
df_covidbr.isna().sum()

regiao                          0
estado                        342
municipio                   16758
coduf                           0
codmun                       9576
codRegiaoSaude              16758
nomeRegiaoSaude             16758
data                            0
semanaEpi                       0
populacaoTCU2019             7182
casosAcumulado                  0
casosNovos                      0
obitosAcumulado                 0
obitosNovos                     0
Recuperadosnovos          1921356
emAcompanhamentoNovos     1921356
interior/metropolitana      16758
dtype: int64

## Filtrar os dados pela coluna 'codmun'

In [32]:
# Transformando dados NaN em zero
df_covidbr.fillna(0,inplace=True)
df_covidbr

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,0,0,76,0.0,0.0,0,2021-01-01,53,210147125.0,7700578.0,24605,195411,462,6747065.0,733959.0,0.0
1,Brasil,0,0,76,0.0,0.0,0,2021-01-02,53,210147125.0,7716405.0,15827,195725,314,6756284.0,748883.0,0.0
2,Brasil,0,0,76,0.0,0.0,0,2021-01-03,1,210147125.0,7733746.0,17341,196018,293,6769420.0,751260.0,0.0
3,Brasil,0,0,76,0.0,0.0,0,2021-01-04,1,210147125.0,7753752.0,20006,196561,543,6813008.0,724720.0,0.0
4,Brasil,0,0,76,0.0,0.0,0,2021-01-05,1,210147125.0,7810400.0,56648,197732,1171,6875230.0,681961.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4503,Centro-Oeste,DF,0,53,0.0,0.0,0,2021-12-04,48,3015268.0,518062.0,0,11043,0,0.0,0.0,0.0
4504,Centro-Oeste,DF,0,53,0.0,0.0,0,2021-12-05,49,3015268.0,518062.0,0,11043,0,0.0,0.0,0.0
4505,Centro-Oeste,DF,0,53,0.0,0.0,0,2021-12-06,49,3015268.0,518144.0,82,11046,3,0.0,0.0,0.0
4506,Centro-Oeste,DF,0,53,0.0,0.0,0,2021-12-07,49,3015268.0,518206.0,62,11047,1,0.0,0.0,0.0
4507,Centro-Oeste,DF,0,53,0.0,0.0,0,2021-12-08,49,3015268.0,518258.0,52,11049,2,0.0,0.0,0.0

In [11]:
df_covidbr = df_covidbr[df_covidbr['codmun'] == 0]

In [12]:
df_covidbr.shape

(9576, 17)

### Quantidade de Brasil na coluna estado

In [13]:
df_covidBrasil = df_covidbr[df_covidbr['regiao'] == 'Brasil']
df_covidBrasil.head()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,0,0,76,0.0,0.0,0,2021-01-01,53,210147125.0,7700578.0,24605,195411,462,6747065.0,733959.0,0.0
1,Brasil,0,0,76,0.0,0.0,0,2021-01-02,53,210147125.0,7716405.0,15827,195725,314,6756284.0,748883.0,0.0
2,Brasil,0,0,76,0.0,0.0,0,2021-01-03,1,210147125.0,7733746.0,17341,196018,293,6769420.0,751260.0,0.0
3,Brasil,0,0,76,0.0,0.0,0,2021-01-04,1,210147125.0,7753752.0,20006,196561,543,6813008.0,724720.0,0.0
4,Brasil,0,0,76,0.0,0.0,0,2021-01-05,1,210147125.0,7810400.0,56648,197732,1171,6875230.0,681961.0,0.0

In [14]:
df_covidBrasil.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 342 entries, 0 to 160
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   regiao                  342 non-null    object
 1   estado                  342 non-null    object
 2   municipio               342 non-null    object
 3   coduf                   342 non-null    int64
 4   codmun                  342 non-null    float64
 5   codRegiaoSaude          342 non-null    float64
 6   nomeRegiaoSaude         342 non-null    object
 7   data                    342 non-null    object
 8   semanaEpi               342 non-null    int64
 9   populacaoTCU2019        342 non-null    float64
 10  casosAcumulado          342 non-null    float64
 11  casosNovos              342 non-null    int64
 12  obitosAcumulado         342 non-null    int64
 13  obitosNovos             342 non-null    int64
 14  Recuperadosnovos        342 non-null    float64
 15  emAcompanhamentoNovos   342 non-null    float64
 16  interior/metropolitana  342 non-null    float64
dtypes: float64(7), int64(5), object(5)
memory usage: 48.1+ KB

## Criando o DataFrame somente com os estados

In [15]:
df_CovidEstados = df_covidbr.drop(df_covidbr.loc[df_covidbr['regiao'] == 'Brasil'].index)

In [16]:
df_CovidEstados

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
181,Norte,RO,0,11,0.0,0.0,0,2021-01-01,53,1777225.0,95999.0,270,1822,5,0.0,0.0,0.0
182,Norte,RO,0,11,0.0,0.0,0,2021-01-02,53,1777225.0,96433.0,434,1825,3,0.0,0.0,0.0
183,Norte,RO,0,11,0.0,0.0,0,2021-01-03,1,1777225.0,96906.0,473,1832,7,0.0,0.0,0.0
184,Norte,RO,0,11,0.0,0.0,0,2021-01-04,1,1777225.0,97197.0,291,1840,8,0.0,0.0,0.0
185,Norte,RO,0,11,0.0,0.0,0,2021-01-05,1,1777225.0,97854.0,657,1852,12,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4503,Centro-Oeste,DF,0,53,0.0,0.0,0,2021-12-04,48,3015268.0,518062.0,0,11043,0,0.0,0.0,0.0
4504,Centro-Oeste,DF,0,53,0.0,0.0,0,2021-12-05,49,3015268.0,518062.0,0,11043,0,0.0,0.0,0.0
4505,Centro-Oeste,DF,0,53,0.0,0.0,0,2021-12-06,49,3015268.0,518144.0,82,11046,3,0.0,0.0,0.0
4506,Centro-Oeste,DF,0,53,0.0,0.0,0,2021-12-07,49,3015268.0,518206.0,62,11047,1,0.0,0.0,0.0
4507,Centro-Oeste,DF,0,53,0.0,0.0,0,2021-12-08,49,3015268.0,518258.0,52,11049,2,0.0,0.0,0.0

### Gráfico de Corrida de Barras (Bar Chart Race)

### Tratando os dados

In [17]:
df_Covid19Estados = df_CovidEstados.groupby(['estado','data'])['casosNovos'].mean()

In [18]:
df_Covid19Estados

estado  data
AC      2021-01-01     69
        2021-01-02    252
        2021-01-03    105
        2021-01-04     71
        2021-01-05     53
                     ...
TO      2021-12-04    211
        2021-12-05      0
        2021-12-06    102
        2021-12-07     59
        2021-12-08    301
Name: casosNovos, Length: 9214, dtype: int64

### Transformando em DataFrame

In [19]:

df_Covid19Estados = pd.DataFrame(df_Covid19Estados).unstack().T

In [20]:
df_Covid19Estados

estado                    AC     AL      AM     AP      BA     CE     DF  \
           data
casosNovos 2021-01-01   69.0  273.0   561.0  160.0  1284.0  901.0  376.0
           2021-01-02  252.0  270.0   293.0   80.0   602.0  582.0  797.0
           2021-01-03  105.0  353.0   546.0  127.0   722.0  189.0  481.0
           2021-01-04   71.0  318.0   559.0  207.0   815.0  212.0  955.0
           2021-01-05   53.0  378.0  1928.0  321.0  3077.0  981.0  603.0
...                      ...    ...     ...    ...     ...    ...    ...
           2021-12-04    3.0   34.0   134.0   68.0   515.0  183.0    0.0
           2021-12-05    0.0   39.0    35.0   42.0   212.0   76.0    0.0
           2021-12-06   11.0   59.0    83.0   55.0   249.0  278.0   82.0
           2021-12-07    2.0   43.0   188.0   91.0   574.0  335.0   62.0
           2021-12-08   13.0   24.0   202.0   80.0   608.0  159.0   52.0

estado                     ES      GO     MA  ...      PR      RJ     RN  \
           data                               ...
casosNovos 2021-01-01  1028.0   244.0   21.0  ...  1757.0   742.0  270.0
           2021-01-02   967.0    82.0   17.0  ...  1292.0   214.0  338.0
           2021-01-03  1416.0   147.0   41.0  ...  1700.0   135.0  388.0
           2021-01-04  1472.0   635.0   76.0  ...  1726.0  3606.0  107.0
           2021-01-05  2382.0  1581.0  162.0  ...  4748.0  4262.0  838.0
...                       ...     ...    ...  ...     ...     ...    ...
           2021-12-04   355.0   653.0  145.0  ...   804.0   504.0    0.0
           2021-12-05   306.0   142.0   94.0  ...   775.0   467.0  346.0
           2021-12-06   310.0   268.0   95.0  ...   794.0   163.0   19.0
           2021-12-07   351.0  1151.0  259.0  ...   838.0   531.0  226.0
           2021-12-08   545.0   703.0  229.0  ...   895.0   702.0  327.0

estado                    RO     RR      RS      SC      SE       SP     TO
           data
casosNovos 2021-01-01  270.0   21.0  2238.0  1864.0  1039.0   3894.0  178.0
           2021-01-02  434.0  148.0  1008.0  2077.0   372.0   1762.0   56.0
           2021-01-03  473.0   17.0  1837.0   821.0   769.0   3469.0  111.0
           2021-01-04  291.0   72.0   569.0  1565.0   951.0   2248.0  157.0
           2021-01-05  657.0   82.0  5283.0  3875.0  1143.0  12881.0  370.0
...                      ...    ...     ...     ...     ...      ...    ...
           2021-12-04  186.0   39.0   863.0   489.0    15.0    977.0  211.0
           2021-12-05   52.0   19.0   370.0   141.0     8.0    824.0    0.0
           2021-12-06  301.0    0.0   312.0   106.0     7.0    213.0  102.0
           2021-12-07  480.0   46.0   769.0   594.0     7.0   1316.0   59.0
           2021-12-08  298.0   47.0   741.0   546.0    12.0   1287.0  301.0

[342 rows x 27 columns]

In [21]:
# O droplevel = apagar o casosNovos do multIndex
df_Covid19Estados = df_Covid19Estados.droplevel(level=0)

In [22]:
df_Covid19Estados

estado,AC,AL,AM,AP,BA,CE,DF,ES,GO,MA,...,PR,RJ,RN,RO,RR,RS,SC,SE,SP,TO
data,,,,,,,,,,,,,,,,,,,,,
2021-01-01,69.0,273.0,561.0,160.0,1284.0,901.0,376.0,1028.0,244.0,21.0,...,1757.0,742.0,270.0,270.0,21.0,2238.0,1864.0,1039.0,3894.0,178.0
2021-01-02,252.0,270.0,293.0,80.0,602.0,582.0,797.0,967.0,82.0,17.0,...,1292.0,214.0,338.0,434.0,148.0,1008.0,2077.0,372.0,1762.0,56.0
2021-01-03,105.0,353.0,546.0,127.0,722.0,189.0,481.0,1416.0,147.0,41.0,...,1700.0,135.0,388.0,473.0,17.0,1837.0,821.0,769.0,3469.0,111.0
2021-01-04,71.0,318.0,559.0,207.0,815.0,212.0,955.0,1472.0,635.0,76.0,...,1726.0,3606.0,107.0,291.0,72.0,569.0,1565.0,951.0,2248.0,157.0
2021-01-05,53.0,378.0,1928.0,321.0,3077.0,981.0,603.0,2382.0,1581.0,162.0,...,4748.0,4262.0,838.0,657.0,82.0,5283.0,3875.0,1143.0,12881.0,370.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-04,3.0,34.0,134.0,68.0,515.0,183.0,0.0,355.0,653.0,145.0,...,804.0,504.0,0.0,186.0,39.0,863.0,489.0,15.0,977.0,211.0
2021-12-05,0.0,39.0,35.0,42.0,212.0,76.0,0.0,306.0,142.0,94.0,...,775.0,467.0,346.0,52.0,19.0,370.0,141.0,8.0,824.0,0.0
2021-12-06,11.0,59.0,83.0,55.0,249.0,278.0,82.0,310.0,268.0,95.0,...,794.0,163.0,19.0,301.0,0.0,312.0,106.0,7.0,213.0,102.0
2021-12-07,2.0,43.0,188.0,91.0,574.0,335.0,62.0,351.0,1151.0,259.0,...,838.0,531.0,226.0,480.0,46.0,769.0,594.0,7.0,1316.0,59.0
2021-12-08,13.0,24.0,202.0,80.0,608.0,159.0,52.0,545.0,703.0,229.0,...,895.0,702.0,327.0,298.0,47.0,741.0,546.0,12.0,1287.0,301.0

#### df_Covid19Estados com dados agregados

In [23]:
df_Covid19Estados = df_Covid19Estados.cumsum()

In [24]:
df_Covid19Estados.head()

estado,AC,AL,AM,AP,BA,CE,DF,ES,GO,MA,...,PR,RJ,RN,RO,RR,RS,SC,SE,SP,TO
data,,,,,,,,,,,,,,,,,,,,,
2021-01-01,69.0,273.0,561.0,160.0,1284.0,901.0,376.0,1028.0,244.0,21.0,...,1757.0,742.0,270.0,270.0,21.0,2238.0,1864.0,1039.0,3894.0,178.0
2021-01-02,321.0,543.0,854.0,240.0,1886.0,1483.0,1173.0,1995.0,326.0,38.0,...,3049.0,956.0,608.0,704.0,169.0,3246.0,3941.0,1411.0,5656.0,234.0
2021-01-03,426.0,896.0,1400.0,367.0,2608.0,1672.0,1654.0,3411.0,473.0,79.0,...,4749.0,1091.0,996.0,1177.0,186.0,5083.0,4762.0,2180.0,9125.0,345.0
2021-01-04,497.0,1214.0,1959.0,574.0,3423.0,1884.0,2609.0,4883.0,1108.0,155.0,...,6475.0,4697.0,1103.0,1468.0,258.0,5652.0,6327.0,3131.0,11373.0,502.0
2021-01-05,550.0,1592.0,3887.0,895.0,6500.0,2865.0,3212.0,7265.0,2689.0,317.0,...,11223.0,8959.0,1941.0,2125.0,340.0,10935.0,10202.0,4274.0,24254.0,872.0

### Aplicando o método

In [26]:
#df = bcr.load_dataset('covid19_tutorial')
bcr.bar_chart_race(
    df=df_Covid19Estados,
    title='Casos Novos de Covid por estados - Brasil',
    orientation='h',
    sort='desc',
    n_bars=12,
    filename='CasosNovosCovidEstados2.mp4'
)

C:\ProgramData\Anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
C:\ProgramData\Anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))

In [ ]:
bcr.bar_chart_race(
    df=df_Covid19Estados,
    title='Casos Novos de Covid por estados - Brasil',
    orientation='h',
    sort='desc',
    n_bars=12,
    filename='CasosNovosCovidEstados2.mp4'
)

In [28]:
df = bcr.load_dataset('df_Covid19Estados')

KeyError: 'df_Covid19Estados'

In [31]:

bcr.bar_chart_race(
    df=df_Covid19Estados,
    filename='covid19_Brazil_estados2.mp4',
    orientation='h',
    sort='desc',
    n_bars=15,
    fixed_order=False,
    fixed_max=True,
    interpolate_period=False,
    label_bars=True,
    bar_size=.95,
    period_label={'x': .99, 'y': .25, 'ha': 'right', 'va': 'center'},
    period_summary_func=lambda v, r: {'x': .99, 'y': .18,
                                      's': f'Total cases: {v.nlargest(6).sum():,.0f}',
                                      'ha': 'right', 'size': 8, 'family': 'Courier New'},
    perpendicular_bar_func='median',
    period_length=500,
    figsize=(5, 3),
    dpi=300,
    cmap='dark12',
    title='COVID19 - New cases in Brazil by states',
    title_size='',
    bar_label_size=7,
    tick_label_size=7,
    shared_fontdict={'family' : 'Helvetica', 'color' : '.1'},
    scale='linear',
    writer=None,
    fig=None,
    bar_kwargs={'alpha': .7},
    filter_column_colors=False)

C:\ProgramData\Anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
C:\ProgramData\Anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))
C:\ProgramData\Anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:226: UserWarning: Some of your columns never make an appearance in the animation. To reduce color repetition, set `filter_column_colors` to `True`
  warnings.warn("Some of your columns never make an appearance in the animation. "